.contenido2 {
position: relative;
margin: auto;
padding: auto;
left: auto;
right: left;
text-align: center;
    width: 750px;

}
.contenido2 p {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 102, 255, 0.568);
}
.contenido2 p {
    font-size: 45px;
    text-align: center;
}
.contenido2 input {
    font-size: 25px;
}

.contenido2 form
{
    text-align: center
}
.contenido2 form button
{

    width: 200px;
    font-size: 20px;
}
